.header {
    background-color: #282c34;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .user-profile {
    display: flex;
    align-items: center;
}

.header button {
    background-color: #7c65c1;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}
.header button:hover {
    background-color: #423466;
}

.header .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid white;
}
