.header {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background-color: #61dafb;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.header button:hover {
    background-color: #21a1f1;
}

.header .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
